
@font-face {
  font-family: 'Alef-Regular';
  src: url('Alef-Regular.eot?#iefix') format('embedded-opentype'),  
  	   url('Alef-Regular.woff') format('woff'), 
	   url('Alef-Regular.ttf')  format('truetype'), 
	   url('Alef-Regular.svg#Alef-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
